* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  margin: 0 auto;
  width: 100vw;
}

#wrapper{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw; 
  height: 800px;
  background: gray; 
}

header{
  background-image: url(/assets/css/imgs/38133944-space-hd-wallpapers.jpg);
  background-repeat: no-repeat;
  text-align: center;

 }

#contentcontainer{
  display: flex;
  background-color: blue;
  width: 80%;
}

#postcontainer{
  display: flex;
  flex-direction: column;
  background-color: brown;
  width: 70%;
  height: 150vw;
}

#rightcontainer{
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: blueviolet;
  width: 30%;
  height: 100%;
}

#related{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postitem{
  display: flex;
  background-color: darkgreen;
  width: 100%;
  height: 400vw;
}

.scorediv{
  display: flex;
  flex-direction: column;
  background-color: rgb(38, 255, 38);
  width: 20%;

}

.postcontent{
  display: flex;
  flex-direction: column;

  background-color: yellow;
  width: 80%;
}

.interaction{
  display: flex;
  justify-content: space-around;
  background-color: tomato;
}

button{
  width: 150px;
  height: 30px;
  background: black;
  color: white;
}

.upvote{
  display: flex;
  width: 30px;
  height: 30px;
}

.score{
  display: flex;
  background-color: lawngreen;
}

.downvote{
  display: flex;
  width: 30px;
  height: 30px;
}
