* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  margin: 0 auto;
  width: 100vw;
  background-color: rgb(199, 198, 198);

}

#wrapper{
  display:flex;
  flex-direction: column;
}

header{
  background-image: url(/assets/css/imgs/38133944-space-hd-wallpapers.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 150px;
  color: gold;
}

#contentcontainer{
  width: 80%;
  display: flex;  
  justify-content: space-between;
  }

#postcontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*background-color: brown;*/
  width: 70%;
  height: 150vw;
  border: 1px solid gray;
}

#rightcontainer{
  display: flex;
  flex-direction: column;
  text-align: center;
  /*background-color: blueviolet;*/
  width: 30%;
  height: 100%;
  border: 1px solid rgb(77, 77, 77);
}

#related{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postitem{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border:1px solid gray;
  border-radius: 5px;
}

.scorediv{
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  /*background-color: rgb(38, 255, 38);*/
}

.postcontent{
  background-color: #89ABC5;
  font-size: 18px;
}

.interaction{
  display: flex;
  justify-content: space-around;
  background-color: rgb(194, 190, 190);
}

button{
  width: 90px;
  height: 30px;
  background: rgb(83, 82, 82);
  color: white;
  border-radius: 5px;
}

.upvote, .downvote{
  width: 25px;
  height: 25px;
  align-self: center;
}

.score{
  display: flex;
  /*background-color: lawngreen;*/
}

.downvotebtn,.upvotebtn{
  width: 25px;
  height: 25px;
}
