<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Todo</title>
</head>

<body>
<h1>Thing to do Today:</h1>
<ul>
  <% todos.forEach(e => { %>
    <li><%= e %></li>
  <% }) %>
</ul>
</body>

</html>