<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alcohol list</title>
  </head>
  <body>
    <h1>Alcohol list</h1>
    <ul>
      <% alcoholList.forEach(e => { %>
        <li><%= e %></li>
      <% }); %>
    </ul>
  </body>
</html>